
.Hemanth-centerheader {
  text-align: center;
  background-color: white;
}

.profile-pic {
  border-radius: 50%;
}
#Hemanth-About{background-color:#77696c21(160, 150, 152, 0);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

.carousel-item {
 height: 526px;
    text-align: center;
}


.item1 {
  
  /*height: 526px;*/
}

.item2 {
  
  /*height: 100px;*/
}

.item3 {
  
  /*height: 100px;*/
}
